.env*
!.env.example
.idea
node_modules
dist
**/.DS_Store

src/uploads/*

.docker/mysql/data/*
!.docker/mysql/data/.gitkeep

.docker/postgres/dbdata/*
!.docker/postgres/.gitkeep

.docker/redis/*
!.docker/redis/.gitkeep

.docker/nginx/logs/*
!.docker/nginx/logs/.gitkeep

tests/coverage/*
tests/database.sqlite
